<link rel="stylesheet" href="/css/header.css">
<header>

    <ul>
        <% if (locals.employee){ %>
            <li>
                <a href="/employee/sign-out">Sign Out</a>
            </li>
            <li>
                <a href="/student/register">Add Student</a>
            </li>
            <li>
                <a href="/batch/create-batch">Add Batch</a>
            </li>
            <li>
                <a href="/interview/create">Add Interview</a>
            </li>
        <% } else { %>
                <li>
                    <a href="/employee/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/employee/sign-up">Sign Up</a>
                </li>
              
        <% } %>
    </ul>
</header>