<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/common_style.css">
<header>

    <div class="left-side">
        <span>
            Placement Cell
        </span>
    </div>

    <div class="middle-side">
        
            <% if (locals.user){ %>
                <div class="anchor-container">
                    <a href="/">Home</a>
                </div>
                <div class="anchor-container">
                    <a href="/student/register">Add Student</a>
                </div>
                <div class="anchor-container">
                    <a href="/batch/create-batch">Add Batch</a>
                </div>
                <div class="anchor-container">
                    <a href="/interview/view">View Interview</a>
                </div>
                <div class="anchor-container">
                    <a href="/employee/sign-out">Sign Out</a>
                </div > 
             
            <% } else { %>
                    <div class="anchor-container">
                        <a href="/employee/sign-in">Sign In</a>
                    </div>
                    <div class="anchor-container">
                        <a href="/employee/sign-up">Sign Up</a>
                    </div>
                  
            <% } %>
        </ul>
    </div>
    <div class="right-side">
        <span>
            Welcome
            <br>
            <% if (locals.user){ %>
            <%= user.name %>
            <% }else{ %>
            Guest
            <% }%>
         </span>
    </div>

   
</header>