
<%# I am some comment! %>
<!-- Code for Layouts -->
<!-- <link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css"> -->
<div id="main-container">
    <!-- Authenticate if user is loged in  -->
    <h1><%=locals.employee  %></h1>
<% if (locals.students){ %>

    <% for(let student of students){ %>
         <h1>Hello <% student %></h1>
    <% } %>
<% }else{  %>

<% }  %>
</div>



