<div class="form-page-container">

  <div class="form-container">
    <div class="form-heading">
      <h2 class="form-heading">Employee Login</h2>
    </div>

    <form action="/employee/sign-in" method="POST" class="form">
      <input class="input-box" placeholder="Email" type="email" id="email" name="email" required>

      <input class="input-box" placeholder="Password" type="password" id="password" name="password" required>


      <div class="form-button-container">
        <div class='btn-light'><button type="submit">Login</button></div>
        <div class="btn-light">
          <a href="/employee/sign-up">Sign Up</a>
        </div>
      </div>
    </form>

  </div>

</div>