<!-- <link rel="stylesheet" href="/css/interview_list.css"> -->

<div class="table-container">


  <div class="heading-container">
    <h2>Interview List</h2>
    <div class="anchor-container anchor-container-dark">
      <a href="/interview/create">Add Interview</a>
    </div>
  </div>
  <%console.log(interviews) %>
    <% if(locals.interviews) { %>
      <table>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Date</th>
            <th>Number of Students</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          <% locals.interviews.forEach((interview)=> { %>
            <tr>
              <td>
                <%= interview.companyName %>
              </td>
              <td>
                <%= interview.date.toDateString() %>
              </td>
              <td>
                <%= interview.students.length %>
              </td>
              <td>
                <div class="anchor-container anchor-container-light">
                  <a href="/interview/get-students/<%= interview._id %>">View</a>
                </div>
                
              </td>
            </tr>
            <% }); %>
        </tbody>

      </table>
      <% }; %>
</div>