<link rel="stylesheet" href="/css/interview_list.css">

<div class="interview-list-container">


  <div>
    <h1>Interview List</h1>
    <a href="/interview/create">Add Interview</a>
  </div>
  <%console.log(interviews) %>
    <% if(locals.interviews) { %>
      <table>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Date</th>
            <th>Number of Students</th>
            <th>Students</th>
          </tr>
        </thead>
        <tbody>
          <% locals.interviews.forEach((interview)=> { %>
            <tr>
              <td>
                <%= interview.companyName %>
              </td>
              <td>
                <%= interview.date.toDateString() %>
              </td>
              <td>
                <%= interview.students.length %>
              </td>
              <td>
                <a href="/interview/get-students/<%= interview._id %>">View</a>
              </td>
            </tr>
            <% }); %>
        </tbody>

      </table>
      <% }; %>
</div>