<div class="interview-form-container">
  <h1>Create Interview</h1>
  <form action="/interview/create" method="POST">
    <label for="companyName">Company Name:</label>
    <input type="text" id="companyName" name="companyName" required><br><br>

    <label for="date">Interview Date:</label>
    <input type="datetime-local" id="date" name="date" required><br><br>

    <button type="submit">Create Interview</button>
  </form>

</div>