<link rel="stylesheet" href="/css/student_interview.css"> 
<div class="student-interview-container">
<h1>Interview List</h1>


  <table>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Date</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <!-- Replace with dynamic interview data from your server/database -->
      <tr>
        <td>ABC Company</td>
        <td>2023-08-15</td>
        <td>
          <ul>
            <li><a href="/student?id=studentId1">Student 1</a></li>
            <li><a href="/student?id=studentId2">Student 2</a></li>
            <!-- Add more student links as needed -->
          </ul>
        </td>
        <td><a href="/result?id=resultId1">Result 1</a></td>
      </tr>
      <!-- Add more rows for other interviews -->
    </tbody>
  </table>
</div>
