:root{
    --activeLightColor:#d7f8ed;
    --activeColor:#67d9b4;
}
table {
  width: 90vw;
  margin: 0px auto;
  border: none;
  border-collapse: collapse;
  border-radius: 3px;
}

thead {
  background-color: var(--themeColor);
  height: 35px;
  color: white;
}

th,
td {
  padding: 8px 4px;
}

th,td{
    height: 30px;
}

.table-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--darkShadow);
}

tr:nth-child(even) {
  background-color: var(--lightColor);
}

tbody tr:hover {
    background-color: var(--activeLightColor);
}

.heading-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    width: 90vw;
    margin: 0px auto;
}

.form-heading{
  text-align: center;
}
.btn-light {
  height: 30px;
  text-decoration: none;
  padding: 2px 5px;
  margin: 5px;
  border-radius: 2px;
  background-color: aliceblue;
  color: #2c3e50;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 11px rgb(243 239 239 / 80%);
}

button {
  border: none;
  background: transparent;
  width: 98px;
  color: var(--themeColor);
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  color: #0a58ca;
}