

  /* dashboard.css */

#main-container {
  padding: 20px;
}

#main-container h1 {
  color: #463ACB;
}

#main-container table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

#main-container thead {
  background-color: #463ACB;
  color: #ffffff;
}

#main-container th, td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#main-container th {
  background-color: #463ACB;
  color: #ffffff;
}

#main-container a {
  color: #463ACB;
  text-decoration: none;
  padding: 4px;
  border-radius: 1px;
}

#main-container a:hover {
  background-color: #463ACB;
  color: white;
  font-weight: bold;
}

#loader {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}