#main-container table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; }

#main-container th, #main-container td {
  text-align: left;
  padding: 8px; }

#main-container th {
  background-color: #f2f2f2; }

#main-container tr:nth-child(even) {
  background-color: #f2f2f2; }
