/* student_interview.css */

/* Apply styles to the entire container */


/* .student-interview-container h1 {
  color: #463ACB;
  margin-bottom: 20px;
}



.student-interview-container th {
  background-color: #463ACB;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.student-interview-container td {
  padding: 10px;
  border: 1px solid #463ACB;
}

.student-interview-container form {
  margin-top: 20px;
}

.student-interview-container label {
  font-weight: bold;
  color: #463ACB;
}

.student-interview-container select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #463ACB;
  border-radius: 5px;
} */

